<!DOCTYPE >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="../public/css/mm.css">
    <title>Document</title>
</head>
<body>
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart" class="icon"></i></a></div>
            </header>
        </div>
        <div class="corps">
            <div class="partie1">
                <h1>
                    Des Produits Frais Et Bio Pour Vous<br>Venez chercher 
                     Tous est a votre disposition
                </h1>
                <p>Nous devons manger des aliments sains pour rester en forme et en bonne santé</p>
                <button>Commandez maintenant</button>
            </div>
    
            <div class="partie2">
                <img src="../public/images/azerty4.png" alt="">
                <img src="../public/images/azerty6.png" alt="">
                <img src="../public/images/azerty7.png" alt="">
                <img src="../public/images/azerty8.png" alt="">
                <img src="../public/images/azerty9.png" alt="">
                <img src="../public/images/azerty10.png" alt="">
                <img src="../public/images/azerty2.png" alt="">
                <!-- <img src="./encore/blog-1.jpg" alt="">
                <img src="./encore/blog-2.jpg" alt="">
                <img src="./encore/blog-3.jpg" alt=""> -->
            </div>
        </div>
    </div>
    <section class="categories" id="categories">

        <h1 class="heading"> product <span>categories</span> </h1>
    
        <div class="box-container">




            <% categorie.forEach(function(categorie){ %>
                <div class="box">
                    <img src="<%=categorie.imageCat %>" alt="">
    
                        <h3><%=categorie.nom %></h3>
    
                    <p>jusqu'à 45 % de réduction</p>
                    <a href="/liste1/<%=categorie.id %>" class="btn">View More</a>
                </div>
              <% }); %>
            
    
            <!-- <div class="box">
                <img src="../public/encore/cat-2.png" alt="">
                <h3>Fruits frais</h3>
                <p>jusqu'à 45 % de réduction</p>
                <a href="/liste2" class="btn">View More</a>
            </div>
    
            <div class="box">
                <img src="../public/encore/cat-3.png" alt="">
                <h3>Les produits laitiers</h3>
                <p>jusqu'à 45 % de réduction</p>
                <a href="/liste3" class="btn">View More</a>
            </div>
    
            <div class="box">
                <img src="../public/encore/cat-4.png" alt="">
                <h3>viande fraîche</h3>
                <p>jusqu'à 45 % de réduction</p>
                <a href="/liste4" class="btn">View More</a>
            </div> -->
    
        </div>
    
    </section>


    <section class="products" id="products">

        <h1 class="heading">  Nos <span>produits</span> </h1>    
        <div class="swiper product-slider">
    
            <div class="swiper-wrapper">
                
                <% article1.forEach(function(article1){ %>
                <div class="swiper-slide box" id="<%=article1.id %>">
                    <img src="<%=article1.image_Article %>" id="image" class="image" alt="">
                    <h3 id="nom" class="nom"><%=article1.nomArticle %></h3>
                    <div class="price" id="prix"> <%=article1.prixArticle %> cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details/<%=article1.id %>"></a>
                    <button  onclick="ajoutpanier('<%= article1.id %>' )" class="btn">Ajouter au panier</button>
                </div>

                <% }); %>


            





                <!-- <div class="swiper-slide box">
                    <img src="  ../public/encore/product3.png" alt="">
                    <h3>oignon frais</h3>
                    <div class="price">  500f cfa - 1000f cfa</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
    
                <div class="swiper-slide box">
                    <img src="../public/encore/product2.png" alt="">
                    <h3>
                        viande fraîche</h3>
                    <div class="price">  2500f cfa - 3000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
    
                <div class="swiper-slide box">
                    <img src="../public/encore/product4.png" alt="">
                    <h3>chou frais</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
                <div class="swiper-slide box">
                    <img src="../public/images/azerty1.png" alt="">
                    <h3>tomate</h3>
                    <div class="price"> 500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
                <div class="swiper-slide box">
                    <img src="../public/images/poivre.png" alt="">
                    <h3>poivron</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div> -->
            </div>
    
        </div>

        <div class="swiper product-slider">
    
            <div class="swiper-wrapper">
                <% article2.forEach(function(article2){ %>
                    <div class="swiper-slide box">
                        <img src="<%=article2.image_Article %>" alt="">
                        <h3><%=article2.nomArticle %></h3>
                        <div class="price"> <%=article2.prixArticle %> cfa  </div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <a href="/details/<%=article2.id %>" class="btn">Ajouter au panier</a>
                    </div>

                    <% }); %>




                <!-- <div class="swiper-slide box">
                    <img src="  ../public/encore/product-5.png" alt="">
                    <h3>pommes de terre fraîches</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
    
                <div class="swiper-slide box">
                    <img src="../public/encore/product-6.png" alt="">
                    <h3>avocat frais</h3>
                    <div class="price"> 500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
    
                <div class="swiper-slide box">
                    <img src="../public/encore/product-7.png" alt="">
                    <h3>carotte fraîche</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
                <div class="swiper-slide box">
                    <img src="../public/encore/product-8.png" alt="">
                    <h3> citron vert</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div>
                <div class="swiper-slide box">
                    <img src="../public/encore/cart-img-1.png" alt="">
                    <h3>fresh watermelon</h3>
                    <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="/details" class="btn">Ajouter au panier</a>
                </div> -->
            </div>
    
        </div>
        </section>

        <section class="review" id="review">
        
            <h1 class="heading">Avis du <span>client</span> </h1>
        
            <div class="swiper review-slider">
        
                <div class="swiper-wrapper">
        
                    <div class="swiper-slide box">
                        <img src="../public/image/pic-1.png" alt="">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                        <h3>Miss Ouattara</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../public/image/pic-2.png" alt="">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                        <h3>Miss Ouattara</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../public/image/pic-3.png" alt="">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                        <h3>Miss Ouattara</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
        
                    <div class="swiper-slide box">
                        <img src="../public/image/pic-4.png" alt="">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde sunt fugiat dolore ipsum id est maxime ad tempore quasi tenetur.</p>
                        <h3>Miss Ouattara</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
        </section>
        <footer class="pied">


            <div class="boxe">
                <h3> Tout Naturel</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
            <div class="boxe">
                <h3>contact info</h3>
                <a href="#" class="links"> <i class="fas fa-phone"></i> + 255 22 09 09 98 97 61 </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> + 255  22 22 24 33 33 88 </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i>      toutnaturel@gmail.com </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Côte d'ivoire, Abidjan-4004 </a>
            </div>
            <div class="boxe">
                <h3>Liens rapides</h3>
                <a href="#" class="links"> Accueil </a>
                <a href="#" class="links"> Contact </a>
                <a href="#" class="links"> Categories </a>
                <a href="#" class="links"> Contact </a>
            </div>
        </footer>
        <div class="bas">
            <div class="bas1">Frutta Verde © 2022 All Rights Reserved</div>
            <div class="bas2">
                <a href="">Privacy Policy</a> |
                <a href="">Terms & Conditions</a> 
            </div>
        </div>
    
    

        
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <script src="../public/js/mm.js"></script>
    <script src="../public/js/local.js"></script>
    
</body>